html,body{
  font-family: 'Arial', sans-serif;
  background-color: white;
}

a:link {
  color: #03A7FF;
}

a:visited {
  color: #03A7FF;
}

a:active {
  color: #03A7FF;
}

a:hover {
  color: black;
  text-decoration: none;
}

div{
  left: 0;
  right: 0;
  padding: 0px;
}

div#validation_message{
  height:20px;
  line-height: 20px;
  font-size: 15px;
  color: red;
}

div#experiment{
  position: absolute;
  top: 20px;
  height: 700px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

div#entry{
  position: absolute;
  top: 50px;
  height: 500px;
  width: 800px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.instructions{
  position: absolute;
  top: 50px;
  height: 500px;
  width: 800px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

div#complete{
  position: absolute;
  top: 50px;
  height: 500px;
  width: 800px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

canvas{
  background-color: white;
  border: 1px solid #03A7FF;
  border-radius: 5px;
  margin: 0px;
}

canvas#canvas_middle{
  position: absolute;
  top: 35px;
  left: 259px;
}

canvas#canvas_left{
  position: absolute;
  top: 35px;
  left: 0px;
}

canvas#canvas_right{
  position: absolute;
  top: 35px;
  left: 518px;
}

button{
  height: 50px;
  width: 150px;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #03A7FF;
  letter-spacing: 1px;
  cursor: pointer;
}

button.word_button{
  width: 100px;
}

canvas.stim_button{
  position: absolute;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

input[type=text]{
  width: 200px;
  height: 30px;
  color: black;
  font-size: 20px;
}

div#wait{
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 50px;
  font-weight: bold;
  line-height: 500px;
  text-align: center;
  background-color: black;
  opacity: 0.95;
  vertical-align: middle;
}

div#message{
  height: 75px;
  line-height: 75px;
  width: 998px;
  color: #03A7FF;
  text-align: center;
}

div#word_array{
  height: 75px;
  width: 998px;
  text-align: center;
}

div#comprehension_array{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 482px;
  height: 482px;
}

div#panel{
  position: absolute;
  top: 534px;
  height: 150px;
  width: 998px;
  border: 1px solid #03A7FF;
  border-radius: 5px;
  line-height: 50px;
  color: #03A7FF;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
}

div#stim_picker{
  position: absolute;
  top: 35px;
  left: 0px;
}

div#spinner{
  position: absolute;
  top: 58px;
  left: 482px;
  height: 34px;
  width: 34px;
}

textarea.comments{
  width: 600px;
  height: 100px;
}

div#progress_bar{
  position: absolute;
  top: 0px;
  height: 18px;
  width: 882px;
  border: 1px solid #03A7FF;
  border-radius: 5px;
}

div#progress{
  position: absolute;
  top: 0px;
  left:0px;
  height: 18px;
  width: 0px;
  background-color: #03A7FF;
  border-radius: 3px 0px 0px 3px;
}

div.exit{
  position: absolute;
  top: 0px;
  left: 952px;
  height: 12px;
  width: 40px;
  line-height: 12px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #FF2F00;
  border-radius: 5px;
  padding: 3px;
  color: #FFFFFF;
  background-color: #FF2F00;
  text-align: center;
}

div#money{
  position: absolute;
  top: 0px;
  left: 894px;
  height: 12px;
  width: 40px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  background-color:#FFB200;
  border: 1px solid #FFB200;
  border-radius: 5px;
  padding: 3px;
}

span.exit{
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  border: 1px solid #FF2F00;
  border-radius: 5px;
  padding: 3px;
  color: #FFFFFF;
  background-color: #FF2F00;
}

span.mini_bonus{
  font-size: 16px;
  color: #FFFFFF;
  border: 1px solid #FFB200;
  border-radius: 5px;
  background-color: #FFB200;
  padding: 5px;
}

div.consent_checkbox{
  width: 500px;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 20px;
  line-height: 40px;
  border: 1px solid #03A7FF;
  border-radius: 5px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

td.currency{
  font-size: 25px;
  text-align: center;
  width: 100px;
}

td.plus{
  font-size: 20px;
  width: 30px;
  text-align: center;
  line-height: 50px;
}

td.pay_type{
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

td.bonus_proportion{
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

.bubble{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 50px;
  padding: 0px;
  color: white;
  background: #03A7FF;
  border-radius: 5px;
}

.bubble:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 16px 16px 0;
  border-color: #03A7FF transparent;
  display: block;
  width: 0;
  /*z-index: 1;*/
  bottom: -16px;
  left: 27px;
}

#screen_blank{
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  line-height: 200px;
}

.alert{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  padding: 20px;
  background-color: white;
  width: 400px;
  height: 200px;
  border-radius: 5px;
}

.alert_message{
  font-size: 16px;
  line-height: 20px;
}

.alert_response_buttons{
  position: absolute;
  bottom: 0px;
  height: 80px;
  line-height: 80px;
  text-align: right;
  padding: 0px;
  padding-right: 30px;
}
